@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #fff;
}

